/* Add here all your CSS customizations */
.center-align {
    margin: 0 auto;
    text-align: center;
}
.logo img {
    margin: 0 auto;
    max-height: 67px;
}

.auth-section {
    background-color: white;
}
.h-full {
    min-height: 100vh;
}

.w-full {
    width: 100%;
}
.sidecard-img {
    height: 100vh;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    border-radius: 0.75rem;
    padding: 1rem;
    background-color: white;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    width: 100%;
    margin: 0px;
}
/* form */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

.login-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #000;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.login-title::before,
.login-title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-image: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(224,46,46,1) 32%, rgba(4,4,4,1)  100%);
}

.login-title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(48, 6, 6)
}

.login-title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.login-message,
.login-signin {
    text-align: center;
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.login-signin {
    text-align: center;
}

.login-signin a {
    color: #721c24;
}

.login-signin a:hover {
    text-decoration: underline #333;
}

.flex {
    display: flex;
    width: 100%;
    /* gap: 6px; */
}

.login-form label {
    position: relative;
    font-size: 1.4rem;
}

.login-form label .login-input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.login-form label .login-input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.login-form label .login-input:placeholder-shown + span {
    top: 15px;
    font-size: 1.5rem;
}

.login-form label .login-input:focus + span,
.login-form label .login-input:valid + span {
    top: 30px;
    font-size: 1.1rem;
    font-weight: 600;
}

.login-input:valid {
    border-color: #41945c;
    background-color: #fff !important;
}

.login-form label .login-input:valid + span {
    color: #000;
}

.submit {
    border: none;
    outline: none;
    background-image: linear-gradient(to right, rgba(51,51,51,1) 0%, rgba(224,46,46,1) 32%, rgba(4,4,4,1)  100%);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
    transition: 0.5s;
    background-size: 200% auto;
}

.submit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

@media (max-width: 576px) {
    .d-sm-none {
        display: none;
    }
    .col-print-6 {
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 786px) {
    .d-md-none {
        display: none;
    }
}
@media (min-width: 806px) {
    .d-lg-none {
        display: none;
    }
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}

/* toast */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* Chart */

#curve-chart,
#live-chart,
#pie-chart,
#pie-chart2,
#pie-chart3 {
    height: 350px;
    max-width: 100%;
}

#bar-chart {
    height: 350px;
    width: 99.5%;
}

#pie-chart,
#pie-chart2,
#pie-chart3 {
    max-width: 300px;
    margin: 10px auto;
}

.control-label {
    font-weight: bold;
}

/* Logs list */
ul.logs {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 97%;
}
.logs li:before,
.logs li:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
}
.logs li {
    background-color: #f9f9f9;
    border-bottom: 1px solid #d9d9d9;
    line-height: 28px;
    margin-bottom: 7px;
    padding: 0;
    position: relative;
}
.logs li > span.time {
    color: #adadad;
    font-size: 11px;
    line-height: 28px;
    padding: 0px 9px;
    position: absolute;
    right: 3px;
    text-align: right;
}
.logs li > span.log-text {
    /*display: inline-block; */
    list-height: 28px;
    margin-left: 35px;
    padding: 0;
    overflow: hidden;
    width: 70%;
}
@media (max-width: 479px) {
    .logs li > span.log-text {
        width: 50%;
    }
}
.logs i {
    background-color: #999999;
    color: #ffffff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    position: absolute;
    text-align: center;
    width: 28px;
}
.logs .label i {
    background-color: transparent;
    color: #ffffff;
    display: inline;
    height: auto;
    margin-right: 5px;
    width: auto;
}
.logs i.i-green {
    background-color: #94b86e;
}
.logs i.i-red {
    background-color: #e25856;
}
.logs i.i-blue {
    background-color: #658db3;
}
.logs i.i-orange {
    background-color: #f0ad4e;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: 0.5rem;
    }
}
/* ============ small devices .end// ============ */

.form-group {
    margin-bottom: 5px !important;
}

.row {
    /* margin-left: 0px !important; */
    /* margin-right: 0px !important; */
}

/* dashboard styles */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

.rounded-img {
    border-radius: 50%;
    padding-right: 1rem;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patients-total {
    position: absolute;
    top: 5%;
    left: -1 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.position-relative {
    position: relative;
}

.rounded {
    background-color: white;
    border-radius: 0.75rem;
    border: 1px solid #cccccc9b;
    border-bottom: 4px solid #397373;
    border-bottom: 4px solid #9AC7D9;
    border-bottom: 4px solid #6595BF;
}

.dashboard-row {
    /* background-color: white; */
    padding: 1rem 4rem;
}

.space-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: start;
}

.summary {
    padding: 2rem 1rem;
}

.summary-title {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.summary-number,
.patient-time {
    font-size: 2.5rem;
    font-weight: 700;
    /* font-family: 'Poppins', sans-serif; */
    padding-right: 1rem;
}

.summary-percent {
    background-color: pink;
    padding: 2px 15px;
    border-radius: 20px;
}

.patients-summary__header,
.queue__summary-header,
.patient-time {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 1.5rem;
}

.patient_section {
    background-color: aliceblue;
    align-items: center;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    border: none;
}

.patients-details__Summary {
    margin: 0.9rem;
}

.patients-details__Summary:nth-child(1) {
    animation-delay: 1s; /* Delay the first item by 1 second */
}

/* .patients-details__Summary:nth-child(2) {
      animation-delay: 2s;
   }

   .patients-details__Summary:nth-child(3) {
      animation-delay: 3s;
   } */

.queue__summary-header {
    border-bottom: 1px solid #cccccc9b;
}

.link {
    background-color: lavenderblush;
    font-size: small;
    color: purple;
    padding: 2px 11px;
    border-radius: 10px;
    margin-left: 10px;
}

.queue__summary-section > p {
    color: #333;
    padding: 1.5rem 0;
}

.queue__summary-section > span {
    font-size: large;
}

/* table>thead>tr>th {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
   }

   table>tbody>tr>td {
      font-size: 1.35rem;
      font-weight: light;
      color: #333;
      font-family: 'Poppins', sans-serif;
      padding: 0.75rem 0;
   } */

/* Add styles to the element you want to animate */
.slide-in-from-right {
    position: relative;
    animation: slideInFromRight 0.5s ease;
}

/* Define the keyframes for the animation */
@keyframes slideInFromRight {
    0% {
        transform: translateX(20%); /* Start from the left side of the container */
        opacity: 0; /* Optional: Add this if you want to animate opacity */
    }
    100% {
        transform: translateX(0); /* Slide to the original position (0%) */
        opacity: 1; /* Optional: Add this if you want to animate opacity */
    }
}

@media (max-width: 576px) {
    .dashboard-row {
        padding: 1rem 1rem;
    }
}

.error-border {
    border: 2px solid red!important;
}

#error-message {
    color: red!important;
    font-size: 1.2rem;
    font-weight: 500;
}

.valid-border {
    border: 2px solid green!important;
}


.selectautocomplete {
    position: relative;
    display: inline-block;
}

.svg-div {
    width: 70px;
    height: 70px;
    background-color: #056ccc;
    background-color: #94b86e;
    background-color: #2477BF;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* welcome card */
.welcome-card {
    background-color: #fff;
    border-radius: 0.75rem;
    padding: 20px;
    max-width: 100%;
    width: 100%;
 }
 
 .welcome-header {
    text-align: justify;
    margin-bottom: 10px;
 }
 
 .welcome-header h1 {
    color: #94b86e;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
 }
 
 .welcome-message {
    text-align: justify;
 }
 
 .welcome-message p {
    color: #555;
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0;
 }

 /* the loading component & send request mpesa button */
 #payment__loading-div,
    #error__container-div {
        display: none;
    }

    .loading-wave {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .loading-bar {
        width: 20px;
        height: 10px;
        margin: 0 5px;
        background-color: #3498db;
        border-radius: 5px;
        animation: loading-wave-animation 1s ease-in-out infinite;
    }

    .loading-bar:nth-child(2) {
        animation-delay: 0.1s;
    }

    .loading-bar:nth-child(3) {
        animation-delay: 0.2s;
    }

    .loading-bar:nth-child(4) {
        animation-delay: 0.3s;
    }

    .error-container {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
    }

    .error-icon {
        font-size: 20px;
        margin-right: 10px;
    }

    .error-message {
        text-align: center;
    }

    .error-message-div {
        color: red!important;
        font-size: 1.2rem;
        font-weight: 500;
    }

    @keyframes loading-wave-animation {
        0% {
            height: 10px;
        }

        50% {
            height: 50px;
        }

        100% {
            height: 10px;
        }
    }
    /* modal */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 99;
  }

  /* Styles for the modal content */
  .modal-content {
        background-color: #fff;
        padding: 0;
        border-radius: 5px;
        width: 40%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        min-width: 400px;
  }

  .modal-form {
        padding: 1rem;
  }

  /* Style for the modal title */
    .modal2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 99;
    }

    .centered-cell {
        text-align: center; /* Center text horizontally */
        vertical-align: middle; /* Center text vertically */
        height: 100%;
        width: 100%;
    }

    .no-wrap {
        white-space: nowrap;
    }

    .px-td{
        padding: 0 1rem;
    }

    .no-wrap {
        white-space: nowrap;
    }
    .custom-btn {
        border: 2px solid #24b4fb;
        background-color: #24b4fb;
        border-radius: 0.3em;
        padding: 0.25em 1.2em;
        transition: all ease-in-out 0.2s;
        font-size: 14px;
    }
      
    .custom-btn span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 400;
    }
    
    .custom-btn:hover {
        background-color: #0071e2;
    }

    /* media query to hide below lg */
    @media (max-width: 1024px) {
        .hidden-below-lg {
            display: none;
        }
    }

    .reports-title {
        color: green;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }
    
    .reports-title::before,
    .reports-title::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        left: 0px;
        background-color: green;
    }

    .reports-title::after {
        width: 18px;
        height: 18px;
        animation: pulse 1s linear infinite;
    }

    .small {
        font-size: 0.8rem;
    }

    #navbar{
        margin-left: 10px;
    }

    .m-0 {
        margin: 0!important;
    }

    .custom-sidebar
    {
        width: 205px !important;
    }